@model  BrownSugarBakes.UI.MVC.Models.Home.HomeIndexViewModel
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home Page";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container logo ">
       
        <div >
            <img src="~/Content/img/SugaBakesLogo.jpg" />

        </div>

    </div>

    <div class="row firstRow" style="font-family: 'Chilanka', cursive;">
        <hr style="border-top: 2px solid #000000;" />
        @foreach (var item in Model.ListOfProducts)
        {
            if (item.IsFeatured == false)
            {

            }
            else
            {
              
                    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px; ">
                        <div class="thumbnail product-item" style="height:300px; box-shadow:15px 15px 10px">
                            <div class="w3-button w3-black">
                                <a href="~/ProductImg/@item.ProductImage" target="_blank">
                                    <img title="Product Image" style="cursor:pointer; height:160px;width:260px" src="~/ProductImg/@item.ProductImage" />
                                </a>
                            </div>

                            <div class="caption">
                                <h5>@item.ProductName</h5>

                                @if (item.Quantity > 0)
                                {
                                    <!--Bootstrap Modal Button-->
                                    <p>
                                        Available
                                    </p>

                                }

                                else
                                {
                                    <p>
                                        Not Available
                                    </p>
                                }
                                <div class="product-item-badge">
                                    @if (item.IsFeatured == true)
                                    {
                                        <p>
                                            Featured
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            Old
                                        </p>
                                    }
                                </div>
                                @using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId, url = "Index" }, FormMethod.Post))
                                {
                                    <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                                }
                            </div>
                        </div>
                    </div>

                
            }
            <!--Bootstrap Modal Content-->

            <div class="modal fade" id="cssModal" tabindex="-1" role="dialog" aria-labelledby="CSSToggleModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                            <p class="modal-title" id="cssOptions">
                                @if (item.IsFeatured == true)
                                {
                                    <h4>
                                        Featured
                                    </h4>
                                }
                                else
                                {
                                    <h4>
                                        Old
                                    </h4>
                                }
                            </p>
                        </div>
                        <div class="modal-body">

                            <div>
                                <a>
                                    <img title="@item.ProductName" style="cursor:pointer; height:160px;width:260px" src="~/ProductImg/@item.ProductImage" />

                                </a>
                                @using (Html.BeginForm("AddToCart", "Home", new { productId = item.ProductId, url = "Index" }, FormMethod.Post))
                                {
                                    <button type="submit" class="pull-right"><i class="fa fa-shopping-cart"></i></button>
                                }
                            </div>

                            <hr style="border-top: 2px solid #000000;" />
                            <div>
                                <h5><b>@item.ProductName</b></h5>
                                <p>$ @item.Price </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container">
        @Html.PagedListPager(Model.ListOfProducts, page => Url.Action("Index", new { page, search = Request.QueryString["search"] }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayItemSliceAndTotal = true })
    </div>